html, body {
  height: 95%;
}

body {
  display: flex;
  justify-content: center;
  background: black;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
}

li {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  margin-bottom: 0px;
}

.presentation {
  display: flex;
  flex-direction: column;

  width: 80%;
  min-height: 100%;
  background: #dee0df;
}

.p-header {
  flex-grow: 1;
  flex-basis: 15%;

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0px;
  padding-bottom: 0px;
  background: #85b2c4;
}

.p-body {
  display: flex;
  flex-grow: 15;
  flex-basis: 75%;

  padding-top: 1%;
  padding-left: 3%;
  padding-bottom: 3%;
}

.p-text {
  display: flex;
  flex-direction: column;
}

.p-images {
  display: flex;
}