{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .bg-transparency {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.5);
    }

    h1.display-4 {
        font-weight: 200;
    }

    .orange {
        color: #ed5938;
        font-weight: bold;
        text-shadow: 1px 1px 1px #6c291a;
    }

    .btn-orange {
        background-color: #e8513a;
        border-color: #e8513a;
        color: #f0f0f0;
    }

    .btn-orange:hover {
        background-color: #d34a35;
        border-color: #d34a35;
        color: #f0f0f0;
    }

    @media (min-width: 992px) {
        .mw-lg-50 {
            max-width: 50%;
        }
    }
</style>
{% endblock %}
{% block content %}
<div class="container mw-lg-50">
    <div class="row">
        <div class='col'>
            <div class="jumbotron bg-transparency">
                <div class="w-25 mx-auto">
                    <img src="{% static 'logo.png' %}" class="w-100">
                </div>
                <h1 class="display-4 mx-auto text-center">Improm<span class="orange">PPTX</span></h1>
                {% if request.user.is_authenticated %}
                {% if request.user_agent.is_mobile %}
                <div class="row my-3 w-50 mx-auto">
                    <a href="{% url 'clicker' %}" class="btn btn-outline-dark btn-lg btn-block" role="button"
                        aria-pressed="true">Begin</a>
                </div>
                {% else %}
                <div class="row my-3 w-50 mx-auto">
                    <a href="{% url 'present' %}" class="btn btn-outline-dark btn-lg btn-block" role="button"
                        aria-pressed="true">Begin</a>
                </div>
                {% endif %}
                {% else %}
                <div class="row my-3 w-50 mx-auto">
                    <a href="{% url 'login' %}" class="btn btn-outline-dark btn-lg btn-block" role="button"
                        aria-pressed="true">Log In</a>
                </div>
                <div class="row my-3 w-50 mx-auto">
                    <a href="{% url 'register' %}" class="btn btn-orange btn-lg btn-block" role="button"
                        aria-pressed="true">Register</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js"></script>
<script src="{% static 'vanta.waves.min.js' %}"></script>
<script>
    VANTA.WAVES({
        el: "body",
        color: 0x006989,
        waveHeight: 24.00,
        waveSpeed: 1.15,
        zoom: 0.72
    })
</script>
{% endblock %}
