{% extends "base.html" %}

{% load static %}

{% block title %} ImpromPPTX - Present {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'present.css' %}">
{% endblock css %}
{% block nav %}{% endblock %}
{% block content %}

<div class="presentation">
    <div class="p-title">
        <h1 class="title-text"></h1>
    </div>
    <div class="p-accent-bar"></div>
</div>

<script src="{% static 'present.js' %}"></script>
<script>
    $(document).ready(function () {
        window.socket = new WebSocket((window.location.protocol === 'https:' ? 'wss://' : 'ws://') + window.location.host + '/ws/presentation/presenter/');
        window.socket.onmessage = function (msg) {
            let deets = JSON.parse(msg.data).update;
            switch (deets.genre) {
                case "title":
                    new_slide(deets.content);
                    break;
                case "image":
                    add_image(deets.content);
                    break;
                case "summary":
                    for (let bullet of deets.content) {
                        add_bullet(bullet);
                    }
                    break;
            }

        }
    })
</script>

{% endblock content %}
