{% extends "base.html" %}

{% load static %}

{% block title %} ImpromPPTX - Present {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'present.css' %}">
{% endblock css %}

{% block content %}

<div class="presentation">
    <div id="my-p-header" class="p-header">
        <h1>Biggest Idea</h1>
    </div>
    <div id="my-p-body" class="p-body">
    </div>
</div>

<script src="{% static 'present.js' %}"></script>
<script>
    $(document).ready(function () {
        window.socket = new WebSocket('ws://127.0.0.1:8000/ws/presentation/');
        window.socket.onmessage = function (msg) {
            console.log(msg);
        }
    })
</script>

{% endblock content %}
